body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Raleway, sans-serif;
  font-weight: lighter;
}

svg {
  margin-top: 1rem;
}
nav {
  margin-top: 1rem;
}


.grid {
  background-color: transparent;
  background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
  background-image: -webkit-linear-gradient(white 2px, transparent 1px),
                    -webkit-linear-gradient(0, white 2px, transparent 1px),
                    -webkit-linear-gradient(rgba(255,255,255,1) 1px, transparent 1px),
                    -webkit-linear-gradient(0, rgba(255,255,255,1) 1px, transparent 1px);
}

.lines {
  background-color: transparent;
  background-size: 100px 100px, 0 0, 10px 10px, 0 0;
  background-image: -webkit-linear-gradient(white 2px, transparent 1px),
                    -webkit-linear-gradient(0, white 2px, transparent 1px),
                    -webkit-linear-gradient(rgba(255,255,255,1) 1px, transparent 1px),
                    -webkit-linear-gradient(0, rgba(255,255,255,1) 1px, transparent 1px);
}