nav#uiControls {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  padding: 0 80px;
  padding-bottom: 2rem;
}

nav#uiControls > * {
  display: inline-block;
}

nav#uiControls > h1 {
  color: #525252;
  padding: 0;
  margin: 0;
}

nav#uiControls button {
  box-shadow: 0 1px 3px #ccc;
}
nav#uiControls button:hover {
  background-color: #eee;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0px 1px #ccc;
}

nav#uiControls button,
nav#uiControls > .inputGroup,
nav#uiControls > #dimensionPicker {
  font-size: 1rem;
  float: right;
  background: #fff;
  color: #000;
  opacity: .73;
  border: none;
  padding: 0.4rem 1rem;
  margin: 0 0 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: box-shadow 0.2s;
}

nav#uiControls > .inputGroup button {
  padding: 0rem 0.75rem;
}

nav#uiControls #dimensionPicker {
  width: 200px;
}

nav#uiControls > #rulers > .ruler {
  position: absolute;
  left: 20px;
  top: 10;
}
nav#uiControls > #rulers > .ruler > div.handle {
  position: absolute;
  left: 20px;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #555;
  border-radius: 50%;
}
nav#uiControls > #rulers > .ruler > div.guideline {
  height: 0;
  border: none;
  border-bottom: 1px dotted #555;
}
nav#uiControls > #rulers > .ruler > div.delete {
  position: absolute;
  right: 0px;
  top: 22px;
  color: #343434;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid #555;
  border-radius: 6px;
  background: #fff;
  transform: translateY(-28px);
  text-align: center;
}
nav#uiControls > #rulers > .ruler > div.delete::before {
  content: 'x';
}

#tooltip {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.2rem 0.5rem;
  margin: 1rem;
  background: #fff;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #ccc;
  width: 280px;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}
#tooltip > p {
  padding: 0.25rem 0;
  margin: 0;
}
#tooltip > p.heading {
  font-weight: bold;
}
#tooltip > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#tooltip > ul > li {
  margin: 0;
  padding: 0;
}
#tooltip > ul > li > span {
  display: inline-block;
}
#tooltip > ul > li > span.label {
  width: 40%;
  min-width: 100px;
}
#tooltip > ul > li > span.value {
  width: 55%;
  min-width: 50px;
  text-align: right;
}

#timestamps > .timestamp {
  width: 100%;
  padding-bottom: 2.5rem;
}
#timestamps > .timestamp > * {
  float: left;
}
#timestamps > .timestamp > input.slider {
  width: 80%;
}
#timestamps > .timestamp > label {
  text-align: right;
  width: 10%;
  padding-right: 1rem;
}

#tickmarks {
  margin: 0;
  margin-left: 2.5%;
  margin-bottom: 1rem;
  padding: 0;
}
#tickmarks li {
  display: inline-block;
  text-align: center;
  margin-right: 8%;
  margin-left: 8%;
}