body.dark {
  background: #333;
}

body.dark g.dimension .header > g.dropdown text.option.clickable:hover,
body.dark g.dimension .header > text.selected:hover {
  fill: #aaa;
}
body.dark g.dimension .header > g.dropdown text.option {
  fill: rgb(104, 104, 104);
}
body.dark g.dimension .header > g.dropdown text.option.active {
  font-weight: bold;
  fill: rgb(46, 46, 46);
}
body.dark g.dimension .header > g.dropdown text.option.clickable:hover,
body.dark g.dimension .header > text.selected:hover {
  fill: rgb(219, 219, 219);
}

body.dark g.category .category_label > rect.background {
  fill: #eee;
}
body.dark g.category .category_label > text {
  fill: #000;
}

body.dark g.ribbon path.partial {
  stroke: #fff;
}

body.dark nav#uiControls > h1 {
  color: #fff;
}